.main{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    
}


.cover-content{
    min-height: 100vh;
}
.cover-content img{
    max-width: 200px;
    border: 2px double #FFF;
}
.about{
    background-color: #ececec;
}
@media only screen and (max-width:768px){
    .cover-content h1{
        font-size: 36px;
        font-weight: bold;
    }
    .cover-content h6{
        font-size: 15px;
    }
}