.input-text {
    width: 500px;
    height: 60px;
    margin: 40px 20px;
    text-align: center;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;

}

.scroll{
    display: flex;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.input-text:focus {
    outline: none;
    
}

.press-button {
    height: 60px;
    width: 100px;
    margin-left: 50px;
    border: 2px solid rgb(0, 68, 255);
    border-radius: 20px
    
}

.press-button:focus {
    outline: none;
    color: aqua;
    
}

.press-button:hover {
    background-color: aqua;
    
}